<html>
<head>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>


<h1>Share a file!</h1>
<form action="/upload/" method="post" enctype="multipart/form-data">
	<input type="file" name="myfile">
	<input type="submit">
</form>

<h1>Or share a text!</h1>
<form action="/add/" method="post">
	<textarea name="text" rows="20" cols="75"></textarea>
	<br/>
	<input type="submit">
</form>

<h1>Latest uploads</h1>
<% latest.forEach(file => { %>
	<p>
		<a href="/files/<%= file %>"><%= file %></a>
	</p>
<% }); %>

</body>
</html>
